@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Serif+JP&display=swap');

:root {
  --bg-color: #ffffff;
  --bgP-color: #f08984;
}

.pink{
	background-color: var(--bgP-color);
}
.white{
	background-color: var(--bg-color);
}

/* --- 基本スタイル --- */
body {
	background-color:var(--bg-color);
	font-size: 13px;
	line-height: 1.7;
	color: #000000;
	font-family: 'Noto Serif JP', serif;
	text-align: center;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: none;
	opacity: 0.5;
	transition: all 0.3s;
}
.form-area{
	width: 80%;
	margin: 15px auto;
	background: #fff;
	padding: 20px;
	border-radius: 3px;
}

/* --- レイアウト & コンポーネント --- */
#content {
	width: 70%;
	margin: 0 auto;
	background-image: url("../img/bg.png");
	background-color: #fff;
	background-repeat: repeat;
}

.top{
	width: 100%;
	height: 100%;
}
.abWrap:before{
	content: "";
	display: block;
	padding-top: 177%;
}
.abWrap{
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.abItem{
	width: 100%;
	position: absolute;
	top:0;
	left: 0;
}
.abItem img{
	max-width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio: 9/16;
}
.abItemTitle{
	width: 30%;
	height: auto;
	position: absolute;
	top:0;
	right: 5%;
	z-index: 10;
}

/* .ad5{
	animation-delay: 0.5s;
} */
.wrap_harf{
	display: block;
	width: 50%;
	margin: 50px auto;
}
.wrap{
	display: block;
	width: 80%;
	margin: 15px auto;
	padding: 20px 0;
}
.titleWrap{
	display: block;
	width: 70%;
	margin: 0px auto;
	padding: 15px 0;
}
.wrap_osusume{
	background-image: url("../img/osusume-bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 20px 0 50px;
}
/* 初期状態：アニメーション名を指定しない */
.move {
  opacity: 0;
}

/* JSでクラスがついたら、animate.cssのクラスを動かす */
.move.is-show {
  opacity: 1;
  animation-name: fadeInUp; /* animate.css内の名前を指定 */
  animation-duration: 1s;
}

.thum{
	width: 80%;
	margin: 15px auto;
	padding: 15px 0 30px;
}

/* --- お問合せ --- */
#contact {
	text-align: center;
	margin-top: 0;
	font-family: 'Noto Serif JP', serif;
	background: #fff;
	padding-top: 65px;
}


/* --- フッター --- */
#footer {
	text-align: center;
	padding-top: 40px;
}
  

/* --- レスポンシブ (SP) --- */
@media (max-width: 768px) {
	#content {
		width: 100%;
	}
}